@using Model
@model IEnumerable<Model.Product>
@{
	ViewBag.Title = "Trang Chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
	//var ListProductNew = (List<Model.Product>)ViewBag.ListProductNew;
	//var wishList = (List<Model.WishList>)ViewBag.wishList;
	//var user = (User)Session["User"];
	//var listNews = (List<Model.News>)ViewBag.ListNews;
	//var reviewProductList = (List<ReviewProduct>)ViewBag.ReviewList;
}


<!-- header end -->
<!-- slider-container start -->
@{Html.RenderAction("Slider", "Home");}
<!-- slider-container end -->
<!-- banner-area start -->
<div class="banner-area pt-70">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="single-banner">
					<a href="javascript:void(0)"><img src="~/asset/frontend/img/banner/1.jpg" alt="" /></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="single-banner">
					<a href="javascript:void(0)"><img src="~/asset/frontend/img/banner/2.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner-area end -->
<!-- new-arrival-area start -->
<div class="new-arrival-area pt-100 reload-wish">
	<div class="container">
		<div class="row">
			<div class="section-title text-center mb-20">
				<h2>Sản Phẩm Nổi Bật</h2>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-12">
				<div class="product-tab">
					<!-- Nav tabs -->
					<!-- Tab panes -->
					<div class="row">
						<div class="tab-content ">
							<div class="tab-pane active" id="home">
								<div id="productHot">
								</div>
								@*<div class="product-carousel">
										@foreach (var item in Model)
										{
											float totalStar = 0;
											var reviewProducts = reviewProductList.Where(x => x.ProductId == item.Id).Select(x => new Model.ReviewProduct
											{
												ProductId = x.Id,
												Rate = x.Rate
											}).ToList();
											foreach (var itemReview in reviewProducts)
											{
												totalStar += itemReview.Rate;

											}
											float currentStar = totalStar / reviewProducts.Count();
											var url = "/chi-tiet-san-pham/" + item.Slug + "-" + item.Id;

											<div class="col-md-12">
												<div class="product-wrapper mb-40  ">
													<div class="product-img">
														<a href="@url"><img class="lazy" src="@item.Images" alt="@item.Name" /></a>
														@if (item.TopHot)
														{
															<span class="new-label-hot">Hot</span>
														}

														<div class="product-action">
															<a href="/them-vao-gio-hang?productID=@item.Id&quantity=1"><i class="pe-7s-cart"></i></a>

															@if (user == null)
															{
																<a data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-heart"></i></a>
															}
															else if (wishList.Any(x => x.ProductID.Equals(item.Id)))
															{
																<a class="wishlist wishlistDisLike wishlist-@item.Id" id="@item.Id" data-id="@item.Id" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
															}
															else
															{
																<a class="wishlist wishlist-@item.Id" data-id="@item.Id" id="@item.Id" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
															}

															<a href="@url"><i class="pe-7s-look"></i></a>
														</div>
													</div>
													<div class="product-content">
														<div class="pro-title">
															<h3><a href="@url">@item.Name</a></h3>
														</div>
														<div class="price-reviews">
															<div class="price-box">

																@if (item.Sale_Price != null)
																{
																	<span class="old-price product-price">@String.Format("{0:n0}", item.Price)  VND</span> <span class="price product-price">@String.Format("{0:n0}", item.Sale_Price) VND</span>
																}
																else
																{
																	<span class="price product-price">@String.Format("{0:n0}", item.Price) VND</span>
																}

															</div>
															<div class="pro-rating">
																@if (item.AverageStar > 0)
																	{
																		var check = true;
																		for (int i = 1; i <= 5; i++)
																		{
																			if (i <= item.AverageStar)
																			{
																				<i class="fa fa-star"></i>
																			}
																			else if ( (Math.Abs(currentStar - Math.Floor(currentStar)) > 0)&&check)
																			{
																				check = false;
																				<i class="fa fa-star-half-o" aria-hidden="true"></i>
																			}
																			else
																			{
																				<i class="fa fa-star-o" aria-hidden="true"></i>
																			}
																		}
																	}
															</div>
														</div>
													</div>
												</div>
											</div>
										}
									</div>*@
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="best-sell-area pt-30">
	<div class="container">
		<div class="row">
			<div class="section-title text-center mb-50">
				<h2>Sản Phẩm Mới Nhất</h2>
			</div>
		</div>
		<div class="row">
			<div id="productNew">
				@*<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3395px;"  >*@
				@*<div id="productNew">

					</div>*@
				@*@foreach (var item in ListProductNew)
					{
						float totalStar = 0;
						var reviewProducts = reviewProductList.Where(x => x.ProductId == item.Id).Select(x=>new Model.ReviewProduct
						{
							ProductId = x.Id,
							Rate = x.Rate
						}).ToList();
						foreach (var itemReview in reviewProducts)
						{
							totalStar += itemReview.Rate;

						}
						float currentStar = totalStar / reviewProducts.Count();
						var url = "/chi-tiet-san-pham/" + item.Slug + "-" + item.Id;*@
				@*<div  class="col-md-12">*@
				@*<div id="productNew">

					</div>*@

				@*<div class="product-wrapper mb-40">
						<div class="product-img">
							<a href="@url"><img  src="@item.Images" alt="@item.Name" /></a>
							<span class="new-label">New</span>
							<div class="product-action">
								<a href="/them-vao-gio-hang?productID=@item.Id&quantity=1"><i class="pe-7s-cart"></i></a>
								@if (user == null)
								{
									<a data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-heart"></i></a>
								}
								else if (wishList.Any(x => x.ProductID.Equals(item.Id)))
								{
									<a class="wishlist wishlistDisLike wishlist-@item.Id" id="@item.Id" data-id="@item.Id" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
								}
								else
								{
									<a class="wishlist wishlist-@item.Id" data-id="@item.Id" id="@item.Id" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
								}
								<a href="@url"><i class="pe-7s-look"></i></a>
							</div>
						</div>
						<div class="product-content">
							<div class="pro-title">
								<h3><a href="@url">@item.Name</a></h3>
							</div>
							<div class="price-reviews">
								<div class="price-box">
									@if (item.Sale_Price != null)
									{
										<span class="old-price product-price">@String.Format("{0:n0}", item.Price)  VND</span> <span class="price product-price">@String.Format("{0:n0}", item.Sale_Price) VND</span>
									}
									else
									{
										<span class="price product-price">@String.Format("{0:n0}", item.Price) VND</span>
									}
								</div>

								<div class="pro-rating">
									@if (reviewProducts.Count > 0)
									{
										var check = true;
										for (int i = 1; i <= 5; i++)
										{
											if (i <= currentStar)
											{
												<i class="fa fa-star"></i>

											}
											else if ( (Math.Abs(currentStar - Math.Floor(currentStar)) > 0)&&check)
											{
												check = false;
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											}
											else
											{
												<i class="fa fa-star-o" aria-hidden="true"></i>
											}
										}
									}
								</div>
							</div>
						</div>
					</div>*@

				@*</div>
						}
					</div>*@
				@*</div>*@
			</div>
		</div>
	</div>
</div>
<!-- best-sell-area end -->
<!-- latest-blog-area start -->
<div class="latest-blog-area ptb-60">
	<div class="container">
		<div class="row">
			<div class="section-title text-center mb-50">
				<h2>latest blog</h2>
			</div>
		</div>
		<div class="row">
			<div id="blog-list" >
				@*@foreach (var item in listNews)
					{
						var url = "/chi-tiet-tin-tuc/" + item.Slug + "-" + item.ID;
						<div class="col-lg-12">
							<div class="blog-wrapper mb-40">
								<div class="blog-img">
									<a href="@url"><img src="@item.Images" alt="" /></a>
								</div>
								<div class="blog-info">
									<h3><a href="@url">@item.Summary</a></h3>
									<div class="blog-meta">
										<span class="f-left">@item.CreateDate</span>
										<span class="f-right"><a href="@url">Xem Thêm </a></span>
									</div>
								</div>
							</div>
						</div>
					}*@
			</div>
		</div>
	</div>
</div>
<!-- latest-blog-area end -->
<!-- brand-area start -->
<div class="brand-area">
	<div class="container">
		<div class="brand-sep ptb-50">
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/3.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/4.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/5.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section index
{
	<script>
		$.ajax({
			url: '/Home/GetProductNew',
			type: 'GET',
			success: (res) => {
				if (res) {
					document.querySelector("#productNew").innerHTML = this.getData(res, true);
					$("#productNew").owlCarousel({
						loop: false,
						nav: true,
						navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>'],
						responsive: {
							0: {
								items: 1
							},
							767: {
								items: 2
							},
							1000: {
								items: 3
							},
							1200: {
								items: 4
							}
						}
					});
				}
			}
		});
		$.ajax({
			url: '/Home/GetProductHot',
			type: 'GET',
			success: (res) => {
				if (res) {
					document.querySelector("#productHot").innerHTML = this.getData(res, false);
					$("#productHot").owlCarousel({
						loop: false,
						nav: true,
						navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>'],
						responsive: {
							0: {
								items: 1
							},
							767: {
								items: 2
							},
							1000: {
								items: 3
							},
							1200: {
								items: 4
							}
						}
					});
				}
			}
		});
		$.ajax({
			url: '/Home/GetBlog',
			type: 'GET',
			success: (res) => {
				if (res) {
					var txt = '';
					var data = JSON.parse(res);
					for (i in data) {
						var url = /chi-tiet-tin-tuc/ + data[i].Slug + '-' + data[i].ID;
						 var date = new Date(data[i].CreateDate); 
						var day = date.getDate();
						var monthIndex = date.getMonth()+1;
						var year = date.getFullYear();
						txt += "<div class='col-lg-12'>";
						txt += "<div class='blog-wrapper mb-40'>";
						txt += "<div class='blog-img'>";
						txt += "<a href=" + url + "><img  src=" + data[i].Images + " alt=" + data[i].Name + " /></a>'>";
						txt += "</div>";
						txt += "<div class='blog-info'>";
						txt += "<h3><a href=" + url + ">" + data[i].Summary + "</a></h3>";
						txt += "<div class='blog-meta'>";
						txt += "<span class='f-left'>" + day + "/" + monthIndex + "/" + year + "</span>";
						txt += "<span class='f-right'><a href=" + url + ">Xem Thêm </a></span>";
						txt += "</div>";
						txt += "</div>";
						txt += "</div>";
						txt += "</div>";
					}
					document.querySelector("#blog-list").innerHTML = txt;
					$('#blog-list').owlCarousel({
		loop:false,
		nav:true,
		navText:['<i class="fa fa-long-arrow-left"></i>','<i class="fa fa-long-arrow-right"></i>'],
		responsive:{
			0:{
				items:1
			},
			767:{
				items:2
			},
			1000:{
				items:2
			}
		}
	})
				}
			}
		});
		function getCookie(name) {
			var value = document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length == 2) return parts[1];
		}

		function getWishListByUserProduct(wishLists, userId, productId) {
			for (var i = 0; i < wishLists.length; i++) {
				var obj = wishLists[i];
				var arr = obj.UserID == userId && obj.ProductID == productId;
				if (arr) return true;
			}
			return false;
		}
		function getData(res, isNew) {
			var data = JSON.parse(res);
			var userId = this.getCookie('UserID');
			var txt = '';
			for (i in data) {
				var checkWishList = userId == undefined ? false : getWishListByUserProduct(data[i].wishLists, userId, data[i].Id);
				var url = /chi-tiet-san-pham/ + data[i].Slug + '-' + data[i].Id;
				var urlCart = "/them-vao-gio-hang?productID=" + data[i].Id + "&quantity=1";
				txt += "<div class='col-md-12'>";
				txt += "<div class='product-wrapper mb-40'>";
				txt += "<div class='product-img'>";
				txt += "<a href=" + url + "><img  src=" + data[i].Images + " alt=" + data[i].Name + " /></a>";
				txt += isNew ? "<span class='new-label'>New</span>" : "<span class='new-label-hot'>Hot</span>";
				txt += "<div class='product-action'>";
				txt += "<a href=" + urlCart + "><i class='pe-7s-cart' ></i></a>";
				if (userId == undefined) {
					txt += "<a data-toggle='modal' data-target='#exampleModalCenter' ><i class='fa fa-heart'></i></a>";
				}
				else if (checkWishList) {
					txt += "<a class='wishlist wishlistDisLike wishlist-" + data[i].Id + "' id=" + data[i].Id + " data-id=" + data[i].Id + " href='javascript:void(0)'><i class='fa fa-heart'></i></a>";
				}
				else {
					txt += "<a class='wishlist wishlist-" + data[i].Id + "' id=" + data[i].Id + " data-id=" + data[i].Id + " href='javascript:void(0)'><i class='fa fa-heart'></i></a>";
				}
				txt += "<a href=" + url + "><i class='pe-7s-look'></i></a>";
				txt += "</div>";
				txt += "</div>";
				txt += "<div class='product-content'>";
				txt += "<div class='pro-title'>";
				txt += "<h3><a href='" + url + "'>" + data[i].Name + "</a></h3>";
				txt += "</div>";
				txt += "<div class='price-reviews'>";
				txt += "<div class='price-box'>";
				var nf = new Intl.NumberFormat();
				if (data[i].Sale_Price != null) {
					txt += "<span class='old-price product-price'>" + nf.format(data[i].Price) + "VND</span> <span class='price product-price'>" + nf.format(data[i].Sale_Price) + "VND</span>";
				} else {
					txt += "<span class='price product-price'>" + nf.format(data[i].Price) + "VND</span>";
				}
				txt += "</div>";
				txt += "<div class='pro-rating'>";
				if (data[i].AverageStar > 0) {
					var check = true;
					for (j = 1; j <= 5; j++) {
						if (j <= data[i].AverageStar) {
							txt += "<i class='fa fa-star'></i>";
						}
						else if (data[i].AverageStar % 1 !== 0 && check) {
							check = false;
							txt += "<i class='fa fa-star-half-o' aria-hidden='true'></i>";
						}
						else {
							txt += "<i class='fa fa-star-o' aria-hidden='true'></i>";
						}
					}
				}
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
			}
			return txt;
		}

	</script>
}