@model List<Model.Category>
@{
	var user = (Model.User)Session["User"];
	var notifies = (List<Model.Notify>)ViewBag.notifies;
}
<header class="header-pos">
	<div style="float:right;width:300px;position:relative;position:absolute;top:50px; right: 100px;z-index: 9999">
		<div class="alert alert-success" hidden>

			@if (TempData["DataSuccess"] != null)
			{
				@TempData["DataSuccess"]
			}
			else
			{
				<strong>Lưu thành công!</strong>
			}
		</div>
		<div class="alert alert-danger" hidden>
			<strong>Đã có lỗi xảy ra</strong>
		</div>
	</div>
	<div class="header-area header-middle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-12">
					<div class="logo">
						<a><img style="width:150px;height:50px;" src="~/Asset/FrontEnd/images/Logo4.jfif" alt="Alternate Text" /></a>
					</div>
				</div>
				<div class="col-md-10 col-sm-9 col-xs-12 text-right xs-center">
					<div class="main-menu display-inline hidden-sm hidden-xs">
						<nav>
							<ul>
								<li>
									<a href="/">Trang Chủ</a>
								</li>
								<li>
									<a href="/About">Giới Thiệu</a>
								</li>


								<li>
									<a href="/lien-he/">Liên Hệ</a>
								</li>
								<li>
									<a href="/Blog/Index">Blog</a>

								</li>
							</ul>

						</nav>
					</div>

					<div style="width: 40%" class="search-block-top display-inline">
						@*<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Notification <span class="caret"></span>
							</button>*@
						@if (Session["User"] != null)
						{

							<div style="float:left; color: #2c2c2c; margin-bottom: -5px;">
								<p>Chào! @user.FullName | <a style="color:#2c2c2c" href="@Url.Action("LogOut","Login")">Đăng xuất</a></p>
							</div>
						}
						else
						{
							<div style="float:left; color: #2c2c2c;margin-bottom: -5px;">
								<a style="color: #2c2c2c;font-weight: 700;" href="@Url.Action("Index", "Login")">Đăng nhập</a>
								| <a style="color: #2c2c2c;font-weight: 700;" href="@Url.Action("Index", "Resgiter")">Đăng ký</a>
							</div>
						}
						@if (notifies.Count > 0)
						{
							<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #2c2c2c;font-weight: 700;font-size:20px;" class="glyphicon glyphicon-bell "></a>
							<ul class="dropdown-menu dropdown-menu-right">
								@foreach (var item in notifies)
								{
									<li>
										<a href="#" class="top-text-block">
											<div style="font-size:12px" class="top-text-heading">@item.Content</div>
											<div style="font-size:14px" class="top-text-light"><b>Ngày tạo</b> @item.CreatedDate</div>
										</a>
									</li>
								}
								@*<li>
										<div class="loader-topbar"></div>
									</li>*@
							</ul>
						}
					</div>
					@{ Html.RenderAction("HeaderCart", "Home");}
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-menu-area visible-sm visible-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="mobile-menu-active">
							<ul>
								<li>
									<a href="/">Trang Chủ</a>
								</li>
								<li>
									<a href="/About">Giới Thiệu</a>
								</li>

								<li>
									<a href="/lien-he/">Liên Hệ</a>
								</li>
								<li>
									<a href="/Blog/Index">Blog</a>

								</li>
								<li>
									<a href="#">Danh mục</a>
									<ul>
										@foreach (var itemGrandParent in Model)
										{
											var url = "/danh-muc-san-pham/" + itemGrandParent.Slug + "-" + itemGrandParent.ID;
											if (Model.Any(x => x.ParentID == itemGrandParent.ID))
											{
												<li>
													<a href="javascript:void(0)">@itemGrandParent.Name </a>
													<ul>
														@foreach (var itemParent in Model)
														{
															var urlParent = "/danh-muc-san-pham/" + itemParent.Slug + "-" + itemParent.ID;
															if (itemGrandParent.ID == itemParent.ParentID && Model.Any(x => x.ParentID == itemParent.ID))
															{

																<li>
																	<a href="javascript:void(0)">@itemParent.Name</a>
																	<ul>
																		@foreach (var itemChild in Model)
																		{
																			var urlChild = "/danh-muc-san-pham/" + itemChild.Slug + "-" + itemChild.ID;
																			if (itemParent.ID == itemChild.ParentID)
																			{
																				<li>
																					<a href="@urlChild">
																						@itemChild.Name
																					</a>
																				</li>}
																		}

																	</ul>
																</li>

															}
															else if (itemGrandParent.ID == itemParent.ParentID)
															{
																<li><a href="@urlParent">@itemParent.Name</a></li>
															}

														}

													</ul>
												</li>
											}
											else if (itemGrandParent.ParentID == null)
											{
												<li><a href="@url">@itemGrandParent.Name</a></li>
											}

										}
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
