@model IEnumerable<Model.ViewModel.MenuViewModel>
@{
	var user = (Model.User)Session["User"];
	var notifies = (List<Model.Notify>)ViewBag.notifies;
}
<header class="header-pos">
	<div style="float:right;width:300px;position:fixed;bottom:20px; right: 0px; z-index: 9999; height: 40px;">
		<div style="height:60px;" class="alert alert-success" hidden>

			@if (TempData["DataSuccess"] != null)
			{
				@TempData["DataSuccess"]
			}
			else
			{
				<strong>Lưu thành công!</strong>
			}
		</div>
		<div class="alert alert-danger" hidden>
			<strong>Đã có lỗi xảy ra</strong>
		</div>
	</div>
	<div class="header-area header-middle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-12">
					<div class="logo">
						<a href="/"><img style="width:150px;height:50px;" src="~/Asset/FrontEnd/images/Logo4.jfif" alt="Alternate Text" /></a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12 text-right xs-center">
					<div class="main-menu display-inline hidden-sm hidden-xs">
						<nav>
							<ul>
								<li>
									<a href="/">Trang Chủ</a>
								</li>
								<li>
									<a href="/About">Giới Thiệu</a>
								</li>
								<li>
									<a href="/lien-he/">Liên Hệ</a>
								</li>
								<li>
									<a href="/Blog/Index">Blog</a>
								</li>
							</ul>
						</nav>
					</div>
					<div style="width: 7%" class="search-block-top display-inline">
						<div class="dropdown-customs" style="">
							<a style="color: #2c2c2c;font-weight: 700;font-size:20px;" href="javascript:void(0)"><i class="glyphicon glyphicon-bell "></i></a>
							<div class="dropdown-contents">
								@if (user != null)
								{
									<p style="text-align: left; margin-top: 0px; margin-left: 25px">Thông báo mới nhận</p>
									if (notifies.Any())
									{
										foreach (var item in notifies)
										{
											<a href="@item.Link"><img style="width: 30px; float: left" src="@item.Image" /> @item.Content</a>
										}
									}
									else
									{
										<a style="text-align: center" href="javascript:void(0)"> Không có thông báo</a>
										<br />
									}

									<a style="text-align: center" href="javascript:void(0)">Xem tất cả</a>
								}
								else
								{
									<div style="margin: 30px;">
										<p style="text-align: center"><i style=" font-size: 100px;" class="fa fa-user"></i></p>
										<p style="text-align: center">Đăng nhập để xem thông báo</p>
										<button class="btn btn-primary center-block" onclick="location.href = '/Login';">Đăng nhập</button>
									</div>
								}
							</div>
						</div>
					</div>
					@{ Html.RenderAction("HeaderCart", "Home");}


					<div class="setting-menu display-inline">
						@if (user != null)
						{
							if (user.Image != null)
							{
								<div class="icon-nav current" style="padding-right: 20px;"><span style="color: #2c2c2c"><img style="width: 18px; height: 18px; border-radius: 100%;" src="@user.Image" /> @user.FullName</span></div>
							}
							else
							{
								<div class="icon-nav current" style="padding-right: 20px;"><span style="color: #2c2c2c"><i style="font-size: 18px " class="fa fa-user"></i> @user.FullName</span></div>
							}
							<ul class="content-nav toogle-content">
								<li class="currencies-block-top">
									<div class="current"><a style="color: #2c2c2c" href="/Order/OrderHistory">Đơn mua</a></div>
								</li>
								<li class="currencies-block-top">
									<div class="current"><a style="color: #2c2c2c" href="@Url.Action("LogOut","Login")">Đăng xuất</a></div>
								</li>
							</ul>
						}
						else
						{
							<div class="icon-nav current" style="padding-right: 20px;"><span style="color: #2c2c2c"><i style="font-size: 20px " class="fa fa-user"></i>Đăng nhập | Đăng ký</span> </div>
							<ul class="content-nav toogle-content">
								<li class="currencies-block-top">
									<div class="current"><a style="color: #2c2c2c" href="@Url.Action("Index", "Login")">Đăng nhập</a></div>
								</li>
								<li class="currencies-block-top">
									<div class="current"><a style="color: #2c2c2c" href="@Url.Action("Index", "Resgiter")">Đăng ký</a></div>
								</li>
							</ul>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-menu-area visible-sm visible-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="mobile-menu-active">
							<ul>
								<li>
									<a href="/">Trang Chủ</a>
								</li>
								<li>
									<a href="/About">Giới Thiệu</a>
								</li>
								<li>
									<a href="/lien-he/">Liên Hệ</a>
								</li>
								<li>
									<a href="/Blog/Index">Blog</a>
								</li>
								<li>
									<a href="#">Danh mục sản phẩm</a>
									@{
										Html.RenderPartial("MenuHeader", Model);
									}
									@*<ul>
			@foreach (var itemGrandParent in Model)
			{
				var url = "/danh-muc-san-pham/" + itemGrandParent.Slug + "-" + itemGrandParent.ID;
				if (itemGrandParent.ParentID == null && Model.Any(x => x.ParentID == itemGrandParent.ID))
				{
					<li>
						<a href="javascript:void(0)">@itemGrandParent.Name </a>
						<ul>
							@foreach (var itemParent in Model)
							{
								var urlParent = "/danh-muc-san-pham/" + itemParent.Slug + "-" + itemParent.ID;
								if (itemGrandParent.ID == itemParent.ParentID && Model.Any(x => x.ParentID == itemParent.ID))
								{
									<li>
										<a href="javascript:void(0)">@itemParent.Name</a>
										<ul>
											@foreach (var itemChild in Model)
											{
												var urlChild = "/danh-muc-san-pham/" + itemChild.Slug + "-" + itemChild.ID;
												if (itemParent.ID == itemChild.ParentID)
												{
													<li>
														<a href="@urlChild">
															@itemChild.Name
														</a>
													</li>
												}
											}

										</ul>
									</li>
								}
								else if (itemGrandParent.ID == itemParent.ParentID)
								{
									<li><a href="@urlParent">@itemParent.Name</a></li>
								}
							}
						</ul>
					</li>
				}
				else if (itemGrandParent.ParentID == null)
				{
					<li><a href="@url">@itemGrandParent.Name</a></li>
				}
			}
		</ul>*@
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>