@*@model List<Model.Product>*@
@{
	ViewBag.Title = "Danh Mục Sản Phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var listCategory = (IEnumerable<Model.ViewModel.MenuViewModel>)ViewBag.ListCategory;
	var category = (Model.Category)ViewBag.Category;
}

<div class="space-custom"></div>
<div style="height: 400px; width: 100%; background-image: url(/Contents/Uploads/files/master-slide-03.jpg); background-repeat: no-repeat; background-size: 100%;">

</div>
<!-- breadcrumb start -->
<div class="breadcrumb-area ">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Danh Mục Sản Phẩm</a></li>
			<li class="active">@category.Name</li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
	<div class="container">
		<div class="row ">
			<div style="background:#f0f0f0;height:auto" class="col-md-3 col-sm-4">
				@*menu mobile*@
				@*<div id="accordian">
					<ul>
						<li class="active">
							<h3><a href="javascript:void(0)"><i class="fa fa-lg fa-tasks"></i>Danh mục</a></h3>
							<ul>
								@foreach (var itemGrandParent in listCategory)
								{
									var url = "/danh-muc-san-pham/" + itemGrandParent.Slug + "-" + itemGrandParent.ID;
									if (itemGrandParent.ParentID == null && listCategory.Any(x => x.ParentID == itemGrandParent.ID))
									{
										<li>
											<a href="javascript:void(0)">@itemGrandParent.Name</a>
											<ul>
												@foreach (var itemParent in listCategory)
												{
													var urlParent = "/danh-muc-san-pham/" + itemParent.Slug + "-" + itemParent.ID;
													if (itemGrandParent.ID == itemParent.ParentID && listCategory.Any(x => x.ParentID == itemParent.ID))
													{
														<li>
															<a href="javascript:void(0)">@itemParent.Name</a>
															<ul>
																@foreach (var itemChild in listCategory)
																{
																	var urlChild = "/danh-muc-san-pham/" + itemChild.Slug + "-" + itemChild.ID;
																	if (itemParent.ID == itemChild.ParentID)
																	{
																		<li>
																			<a href="@urlChild">
																				@itemChild.Name
																			</a>
																		</li>
																	}
																}
															</ul>
														</li>
													}
													else if (itemGrandParent.ID == itemParent.ParentID)
													{
														<li><a href="@urlParent">@itemParent.Name</a></li>
													}
												}
											</ul>
										</li>
									}
									else if (itemGrandParent.ParentID == null)
									{
										<li><a href="@url"> @itemGrandParent.Name </a></li>
									}
								}
							</ul>
						</li>
					</ul>
				</div>*@
				<div class="column" style="border:1px solid;width:105%">
					<h2 class="title-block">Danh Mục Sản Phẩm</h2>

					@*menu desktop*@
				<div class="container-menu-product">
					@{
						Html.RenderPartial("MenuPartial", listCategory);
					}
					@*<ul class="">
			@foreach (var itemGrandParent in listCategory)
			{
				var url = "/danh-muc-san-pham/" + itemGrandParent.Slug + "-" + itemGrandParent.ID;
				if (itemGrandParent.ParentID == null && listCategory.Any(x => x.ParentID == itemGrandParent.ID))
				{
					<li class="">
						<a href="javascript:void(0)">@itemGrandParent.Name<span style="float: right" class="glyphicon glyphicon-chevron-right"></span></a>
						<ul class="">
							@foreach (var itemParent in listCategory)
							{
								var urlParent = "/danh-muc-san-pham/" + itemParent.Slug + "-" + itemParent.ID;
								if (itemGrandParent.ID == itemParent.ParentID && listCategory.Any(x => x.ParentID == itemParent.ID))
								{
									<li class="">
										<a href="javascript:void(0)">@itemParent.Name<span style="float: right" class="glyphicon glyphicon-chevron-right"></span></a>
										<ul>
											@foreach (var itemChild in listCategory)
											{
												var urlChild = "/danh-muc-san-pham/" + itemChild.Slug + "-" + itemChild.ID;
												if (itemParent.ID == itemChild.ParentID)
												{
													<li>
														<a href="@urlChild">
															@itemChild.Name
														</a>
													</li>
												}
											}
										</ul>
									</li>
								}
								else if (itemGrandParent.ID == itemParent.ParentID)
								{
									<li><a href="@urlParent">@itemParent.Name</a></li>
								}
							}
						</ul>
					</li>
				}
				else if (itemGrandParent.ParentID == null)
				{
					<li><a href="@url">@itemGrandParent.Name</a></li>
				}
			}
		</ul>*@
				</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<h2 class="page-heading mt-40">
					<span class="cat-name">@category.Name</span>
					<span class="heading-counter">Hiển thị @ViewBag.CountProduct sản phẩm</span>
				</h2>
				<div class="shop-page-bar">
					<div>
						<div class="shop-bar">
							<!-- Nav tabs -->
							<ul class="shop-tab f-left" role="tablist">
								<li style="border:1px solid grey" role="presentation" class="active"><a href="#home" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
								<li style="border:1px solid grey" role="presentation"><a href="#profile" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
							</ul>
							<div class="selector-field f-left ml-20 hidden-xs">
								<form action="#">
									<label>Sort by</label>
									<select name="select">
										<option value="">----</option>
										<option value="">Price: Lowest first</option>
										<option value="">Price: Highest first</option>
										<option value="">Product Name: A to Z</option>
										<option value="">Product Name: Z to A</option>
										<option value="">In stock</option>
										<option value="">Reference: Lowest first</option>
										<option value="">Reference: Highest first</option>
									</select>
								</form>
							</div>
							<div class="selector-field f-left ml-30 hidden-xs">

							</div>
							<div class="selector-field f-right ml-30">
								<form action="#"></form>
							</div>
						</div>
						<!-- Tab panes -->
						<div class="tab-content reload-wish">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div id="productHot" class="row ">
								
								</div>
							</div>
						
							<div id="paginator" class="content-sortpagibar">

							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- shop-area end -->
<!-- brand-area start -->
<div class="brand-area">
	<div class="container">
		<div class="brand-sep ptb-50">
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/3.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/4.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/5.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- brand-area end -->
<!-- service-area start -->
@section categoryProduct{
	<script>

		var getUrlParameter = function getUrlParameter(sParam) {
			var sPageURL = window.location.search.substring(1),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;

			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
				}
			}
		};
		var currentUrl = window.location.pathname;
		var categoryId = currentUrl.split('-')[currentUrl.split('-').length - 1];
		var url = getUrlParameter('page')
			? '/Product/GetProduct?id=' + categoryId + '&page=' + getUrlParameter('page')
			: '/Product/GetProduct?id=' + categoryId;
		$.ajax({
			url: url,
			type: 'GET',
			success: (res) => {
				if (res.items) {
					document.querySelector("#productHot").innerHTML = this.getData(res);
					document.getElementById("paginator").innerHTML = this.getPagination(res);
				}
			}
		});


		function getCookie(name) {
			var value = document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length == 2) return parts[1];
		}

		function getData(res) {
			var data = res.items;
			var userId = this.getCookie('UserID');
			var txt = '';
			for (i in data) {
				var checkWishList = userId == undefined
					? false
					: getWishListByUserProduct(data[i].wishLists, userId, data[i].Id);
				var url = /chi-tiet-san-pham/ + data[i].Slug + '-' + data[i].Id;
				var urlCart = "/them-vao-gio-hang?productID=" + data[i].Id + "&quantity=1";
				txt += "<div class='col-md-4 col-sm-6'>";
				txt += "<div style='height: 460px;' class='product-wrapper mb-40'>";
				txt += "<div class='product-img'>";
				txt += "<a href=" +
					url +
					"><img  style='width: 100%'  src=" +
					data[i].Images +
					" alt=" +
					data[i].Name +
					" /></a>";
				txt += data[i].TopHot ? "<span class='new-label-hot'>Hot</span>" : "<span class='new-label'>New</span>";
				txt += "<div class='product-action'>";
				txt += "<a href=" + urlCart + "><i class='pe-7s-cart' ></i></a>";
				if (userId == undefined) {
					txt += "<a data-toggle='modal' data-target='#exampleModalCenter' ><i class='fa fa-heart'></i></a>";
				} else if (checkWishList) {
					txt += "<a class='wishlist wishlistDisLike wishlist-" +
						data[i].Id +
						"' id=" +
						data[i].Id +
						" data-id=" +
						data[i].Id +
						" href='javascript:void(0)'><i class='fa fa-heart'></i></a>";
				} else {
					txt += "<a class='wishlist wishlist-" +
						data[i].Id +
						"' id=" +
						data[i].Id +
						" data-id=" +
						data[i].Id +
						" href='javascript:void(0)'><i class='fa fa-heart'></i></a>";
				}
				txt += "<a href=" + url + "><i class='pe-7s-look'></i></a>";
				txt += "</div>";
				txt += "</div>";
				txt += "<div class='product-content'>";
				txt += "<div class='pro-title'>";
				txt += "<h3><a href='" + url + "'>" + data[i].Name + "</a></h3>";
				txt += "</div>";
				txt += "<div class='price-reviews'>";
				txt += "<div class='price-box'>";
				var nf = new Intl.NumberFormat();
				if (data[i].Sale_Price != null) {
					txt += "<span class='old-price product-price'>" +
						nf.format(data[i].Price) +
						"VND</span> <span class='price product-price'>" +
						nf.format(data[i].Sale_Price) +
						"VND</span>";
				} else {
					txt += "<span class='price product-price'>" + nf.format(data[i].Price) + "VND</span>";
				}
				txt += "</div>";
				txt += "<div class='pro-rating'>";
				if (data[i].AverageStar > 0) {
					var check = true;
					for (j = 1; j <= 5; j++) {
						if (j <= data[i].AverageStar) {
							txt += "<i class='fa fa-star'></i>";
						} else if (data[i].AverageStar % 1 !== 0 && check) {
							check = false;
							txt += "<i class='fa fa-star-half-o' aria-hidden='true'></i>";
						} else {
							txt += "<i class='fa fa-star-o' aria-hidden='true'></i>";
						}
					}
				}
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
				txt += "</div>";
			}
			if (data.length == 0) {
				txt += "<p>Danh mục không có sản phẩm</p>";
			}
			return txt;
		}

		function getWishListByUserProduct(wishLists, userId, productId) {
			for (var i = 0; i < wishLists.length; i++) {
				var obj = wishLists[i];
				var arr = obj.UserID == userId && obj.ProductID == productId;
				if (arr) return true;
			}
			return false;
		}

		function getPagination(res) {
			var txt = '';
			var data = res.items;
			var pageIndex = getUrlParameter('page') ? getUrlParameter('page') : 1;
			var totalPage = Math.ceil(res.TotalRecords / 6);
			 
			var start = (pageIndex <= 3 || totalPage == 0) ? 1 : pageIndex - 3;
			var end = (totalPage <= pageIndex+3) ? totalPage : pageIndex + 3;
			if (end >= totalPage) {
				end = totalPage;
			}
			txt += "<div class='product-count display-inline'>Showing 1 - " +
				data.length +
				" of " +
				res.TotalRecords +
				" items</div> ";
			txt += "<ul class='shop-pagi display-inline'>";

			if (res.TotalRecords) {
				if (pageIndex > 1)
					txt += "<li class='navigate' events='back'><a href='javascript:void(0)' ><i class='fa fa-angle-left'></i></a></li>";
				for (var i = start; i <= end; i++) {
					if (pageIndex == i) {
						txt += "<li class='active navigate'><a href='javascript:void(0)'>" + i + "</a></li>";
					} else {
						txt += "<li class='navigate'><a href='javascript:void(0)' >" + i + "</a></li>";
					}
				}
				if (pageIndex < totalPage) {
					txt += "<li class='navigate' events='next'><a href='javascript:void(0)'><i class='fa fa-angle-right'></i></a></li>";
				}
			} else {
				txt += "<ul class='shop-pagi display-inline'>";
				txt += "<li class='active'><a href='javascript:void(0)'>1</a></li>";
				txt += "</ul>";
			}
			return txt;
		}
		$(document).on("click",".navigate", function () {
			var urlNavigate = '';
			var pageIndex = getUrlParameter('page') ? getUrlParameter('page') : 1;
			if ($(this).text() == '') {
				if ($(this).attr("events") == 'back') {
					pageIndex -= 1;
					urlNavigate = '/Product/GetProduct?id=' + categoryId + '&page=' + pageIndex;
				} else {
					pageIndex =+pageIndex+ 1;
					urlNavigate = '/Product/GetProduct?id=' + categoryId + '&page=' + pageIndex;
				}
			} else {
				pageIndex = $(this).text();
				urlNavigate = '/Product/GetProduct?id=' + categoryId + '&page=' + $(this).text();
			}
			$.ajax({
				url: urlNavigate,
				type: 'GET',
				success: (res) => {
					if (res.items) {
						document.querySelector("#productHot").innerHTML = getData(res);
						window.history.pushState('Danh mục sản phẩm', 'Title',  currentUrl+'?page='+pageIndex);
						document.getElementById("paginator").innerHTML = getPagination(res);
					}
				}
			});
		});
	</script>
}
