@model Model.Product
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.Category)ViewBag.Category;
    String str =Model.Images+ ";" + Model.MoreImages;

    // using the method 
    String[] ListImages = new String[20];
    ListImages = str.Split(';');
    var listproductorther = (List<Model.Product>)ViewBag.ListProductOther;

}

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            @*<li><a href="#"> Sofa</a></li>*@
            <li class="active">@category.Name</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
              

                <div class="product-zoom">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @{int i = 0;}
                        @foreach (var item in ListImages)
                        {
                            
                            if (i == 0)
                            {
                                <div class="tab-pane active" id="@("item"+i)">
                                    <div class="pro-large-img">
                                        <img src="@item" alt="" />
                                        <a class="popup-link" href="@item">View larger <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane" id="@("item"+i)">
                                    <div class="pro-large-img">
                                        <img src="@item" alt="" />
                                        <a class="popup-link" href="@item">View larger <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            }
                            i++;

                        }


                    </div>
                            <!-- Nav tabs -->
                    <div class="details-tab">
                        @{int i1 = 0;}
                        @foreach (var item in ListImages)
                        {

                            if (i1 == 0)
                            {
                                <div class="active"><a href="@("#item"+i1)" data-toggle="tab"><img src="@item" alt="" /></a></div>
                            }
                            else
                            {
                                <div><a href="@("#item"+i1)" data-toggle="tab"><img src="@item" alt="" /></a></div>
                            }
                            i1++;

                        }

                    </div>
                        </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="product-details">
                    <h2 class="pro-d-title">@Model.Name</h2>
                    </div>
                    <div class="price-box">
                        <span class="price product-price">@(Model.Sale_Price.HasValue? Model.Sale_Price.Value.ToString("NO"):"Liên Hệ")</span>
                       
                    </div>
                    <div class="short-desc">
                        <p>@Model.Content</p>
                    </div>
                    <div class="box-quantity">
                        <form action="#">
                            <label>Quantity</label>
	                        <input type="number" id="quantity" value="1" />
	                        <script>
	                            function myFunction() {
		                            var quantity = document.getElementById("quantity").value;
		                            window.location.href = '/them-vao-gio-hang?productID=@Model.Id&quantity='+quantity
	                            }
                            </script>
                            <button onclick="myFunction()" >add to cart</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    

<!-- shop-area end -->
<!-- pro-info-area start -->
<div class="pro-info-area ptb-80">
	<div class="container">
		<div class="pro-info-box">
			<!-- Nav tabs -->
			<!-- Tab panes -->

		</div>
	</div>
</div>
<div class="pro-info-area ptb-80">
	<div class="container">
		<div class="pro-info-box">
			<!-- Nav tabs -->
			<ul class="pro-info-tab" role="tablist">
				<li class="active"><a href="#home3" data-toggle="tab">More info</a></li>
				<li><a href="#profile3" data-toggle="tab">Data sheet</a></li>
				<li><a href="#messages3" data-toggle="tab">Reviews</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="home3">
					<div class="pro-desc">
						<p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
					</div>
				</div>
				<div class="tab-pane" id="profile3">
					<div class="pro-desc">
						<table class="table-data-sheet">
							<tbody>
							<tr class="odd">
								<td>Compositions</td>
								<td>Cotton</td>
							</tr>
							<tr class="even">
								<td>Styles</td>
								<td>Casual</td>
							</tr>
							<tr class="odd">
								<td>Properties</td>
								<td>Short Sleeve</td>
							</tr>
							</tbody>
						</table>						
					</div>
				</div>
				<div class="tab-pane" id="messages3">
					<div class="pro-desc">
						<p> Tên người mua</p>
						<p>Be the first to write your review! Be the first to write your review! Be the first to write your review! Be the first to write your review!</p>
						<a href="#">Be the first to write your review!</a>
					</div>
					<div class="pro-desc">
						<p> Tên người mua</p>
						<p>Be the first to write your review! Be the first to write your review! Be the first to write your review! Be the first to write your review!</p>
						<a href="#">Be the first to write your review!</a>
					</div>
					<div class="pro-desc">
						<p> Tên người mua</p>
						<p>Be the first to write your review! Be the first to write your review! Be the first to write your review! Be the first to write your review!</p>
						<a href="#">Be the first to write your review!</a>
					</div>
					<div class="pro-desc">
						<p> Tên người mua</p>
						<p>Be the first to write your review! Be the first to write your review! Be the first to write your review! Be the first to write your review!</p>
						<a href="#">Be the first to write your review!</a>
					</div>
					<div class="pro-desc">
						<p> Tên người mua</p>
						<p>Be the first to write your review! Be the first to write your review! Be the first to write your review! Be the first to write your review!</p>
						<a href="#">Be the first to write your review!</a>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<!-- pro-info-area end -->
<!-- pro-info-area end -->
<!-- best-sell-area start -->
<div class="best-sell-area">
	<div class="container">
		<div class="row">
			<div class="section-title text-center mb-50">
				<h2>Sản Phẩm Liên Quan</h2>
			</div>
		</div>
		<div class="row">
			<div class="product-carousel">
				@foreach (var item in listproductorther)
				{
					<div class="col-md-12">
						<div class="product-wrapper mb-40 mrg-nn-xs">
							<div class="product-img">
								<a href="#"><img src="@item.Images" alt="" /></a>
								<span class="new-label">New</span>
								<div class="product-action">
									<a href="cart.html"><i class="pe-7s-cart"></i></a>
									<a href="#"><i class="pe-7s-like"></i></a>
									<a href="#"><i class="pe-7s-folder"></i></a>
                                 
								</div>
							</div>
							<div class="product-content">
								<div class="pro-title">
									<h3><a href="">@item.Name</a></h3>
								</div>
								<div class="price-reviews">
									<div class="price-box">
										@if (item.Sale_Price != null)
										{
											<span class="old-price product-price">Giá gốc:@item.Price VND</span> <span class="price product-price">Giá KM:@item.Sale_Price VND</span>
										}
										else
										{
											<span class="price product-price">Giá gốc:@item.Price VND</span>
										}
									</div>
                                   
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
</div>

<div class="brand-area">
    <div class="container">
        <div class="brand-sep ptb-50">
            <div class="row">
                <div class="brand-active">
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/3.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/4.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/5.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area end -->
<!-- service-area start -->


