@model PagedList.IPagedList<Model.Order>
@using PagedList.Mvc
@{
	ViewBag.Title = "OrderHistory";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="space-custom"></div>
@if (Session["User"] == null)
{
	<div style="margin: 30px;">
		<p style="text-align: center"><i style=" font-size: 300px;" class="fa fa-user"></i></p>
		<p style="text-align: center">Mời bạn đăng nhập để có thể đặt hàng</p>
		<button class="btn btn-primary center-block" onclick="location.href = '/Login';">Đăng nhập</button>
	</div>
}
else
{
	<!-- breadcrumb start -->
	<div class="breadcrumb-area">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">Shop</a></li>
				<li class="active">Lịch sử mua hàng</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<!-- shop-area start -->
	<div class="shop-area">
		<div class="container">
			<div class="row">
				<div style="height: 300px;" class="col-md-3 col-sm-4 menu-left">

					<div style="background:#f0f0f0;border-left: 1px dotted rgba(0, 0, 0, 0.5);box-shadow: 3px 3px;height:auto" class="panel panel-primary">
						<div class="panel-header">
							<div class="col-md-3 col-sm-3 	col-xs-3 col-lg-3">
								<i style="font-size: 50px;" class="fa fa-user"></i>
							</div>
							<div class="col-md-9 col-sm-9 	col-xs-9 col-lg-9">
								<p>nguyennhat</p>
								<div style="margin-top: -15px">
									<a href="#"><span class="glyphicon glyphicon-pencil"></span>Sửa hồ sơ</a>
								</div>

							</div>
						</div>
						<div class="panel-body">
							<div style="margin-bottom: 5px;margin-top: 52px;">
								<i style="font-size: 20px;" class="fa fa-user"></i>
								<a href="#">Tài khoản của tôi</a>
								<div style="padding-left: 30px; padding-top: 10px; height: 70px;">
									<a href="#">Đổi mật khẩu</a>
									<div style="margin-top: 5px;">
										<a style="padding-top: 10px" href="#">Hồ sơ</a>
									</div>

								</div>
							</div>
							<div>
								<i style="font-size: 20px;" class="glyphicon glyphicon-book"></i>
								<a href="#">Đơn mua</a>
							</div>


						</div>

					</div>
				</div>

				<div class="col-md-9 col-sm-8">
					<h2 class="page-heading mt-40">
						<span class="cat-name">Lịch sử mua hàng</span>
						<span class="heading-counter">Show @Model.Count order</span>
					</h2>
					<div class="shop-page-bar">
						<div>
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div role="tabpanel" class="tab-pane" id="profile">
										@foreach (var item in Model)
												{
													var productOrder = item.OdersDetail.Where(x => x.OrderId == item.ID).ToList();
										<div style="margin-bottom:10px;background:white;padding:10px;">
											<p style="font-size:30px;">MÃ ĐƠN HÀNG: @item.ID</p>
											<div style="float:right">
												Trạng thái:
												@if (item.Status == 0)
												{
													<label style="color: crimson">Đang chờ</label>
												}
												else if (item.Status == 3)
												{
													<label style="color: darkgreen">Đã giao</label>
												} 
											</div>
											@foreach (var itemOrder in productOrder)
											{
												var url = "/chi-tiet-san-pham/" + itemOrder.Product.Slug + "-" + itemOrder.Product.Id;
											<div class="row mb-50">
												<div class="col-xs-5 col-sm-5 col-md-4">
													<div class="product-wrapper">
														<div class="product-img">
															<a href="@url"><img src="@itemOrder.Product.Images" alt="" /></a>
															<span class="new-label">New</span>
														</div>
													</div>
												</div>
												<div class="col-xs-7 col-sm-7 col-md-8">
													<div class="product-content product-list">
														<div class="pro-title">
															<h3><a href="product-details.html">@itemOrder.Product.Name </a> </h3>
														</div>
														<div class="price-reviews">
															
															<div class="price-box">
																<span class="price product-price">@String.Format("{0:n0}", itemOrder.Price) VND </span>
															</div>

														</div>
														<p>@itemOrder.Product.Content <b>x @itemOrder.Quantity</b></p>

														<div class="color-list">
															<a href="#"></a>
															<a href="#"></a>
														</div>
													</div>
												</div>
											</div>
											}
										</div>
											}
									</div>
								</div>
								<div class="content-sortpagibar">

									@Html.PagedListPager(Model, Page => Url.Action("OrderHistory", new { Page, @searchString = @ViewBag.searchString }))

									<div class="selector-field f-right">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<!-- shop-area end -->
<div class="brand-area">
	<div class="container">
		<div class="brand-sep ptb-50">
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/3.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/4.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/5.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="#"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>