@model Model.ViewModel.RegisterUser
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{ MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");}
@{

    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Đăng Ký</li>
        </ol>
    </div>
</div>
<div class="login-area mb-50">
    <div class="container">
        <div class="row">
            <div class="centered-title text-center mb-40">
                <h2>Đăng  <span class="light-font">Ký</span></h2>
                <div class="clear"></div>
                <em>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <br>inventore veritatis et quasi architecto beatae</em>
            </div>
            <div class="clear"></div>
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <div class="billing-fields row">
                    @using (Html.BeginForm())
                    {
                        <p class="form-row col-sm-6">
                            <label for="billing_first_name">User Name<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.UserName, null, new { @class = "form-control form-controller" })
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = " text-danger" })
                        </p>
                        <p class="form-row col-sm-6">
                            <label for="billing_last_name">Fulll Name<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.FullName, null, new { @class = "form-control form-controller" })
                            @Html.ValidationMessageFor(model => model.FullName, null, new { @class = " text-danger" })
                        </p>
                        <p class="form-row col-sm-6">
                            <label for="billing_email">Email Address<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.Email, null, new { @class = "form-controller" })
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = " text-danger" })
                        </p>
                        <p class="form-row col-sm-6">
                            <label for="billing_email">Phone<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.Phone, null, new { @class = "form-controller" })
                            @Html.ValidationMessageFor(model => model.Phone, null, new { @class = " text-danger" })
                        </p>

                        <p class="form-row col-sm-12">
                            <label for="billing_address_1">Address<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.Address, null, new { @class = "form-controller" })
                            @Html.ValidationMessageFor(model => model.Address, null, new { @class = " text-danger" })
                        </p>
                        <p class="col-sm-12">
                            <label class="" for="account_password">Account password<abbr title="required" class="required">*</abbr></label>  @Html.EditorFor(model => model.PassWord, null, new { @class = "form-controller" })
                            @Html.ValidationMessageFor(model => model.PassWord, null, new { @class = " text-danger" })
                        </p>
                        <p class="col-sm-12">
                            <label class="" for="confirm_password">Confirm password<abbr title="required" class="required">*</abbr></label>
                            @Html.EditorFor(model => model.ConfirmPassWord, null, new { @class = "form-controller" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassWord, null, new { @class = " text-danger" })
                        </p>
                        <div class="col-sm-6">
                            @Html.Captcha(registerCaptcha)
                            @Html.TextBox("CaptchaCode")
                        </div>
                        <p class="col-sm-12">
                            <input type="submit" value="Register" name="signup" class="theme-button marL0">
                        </p>
                    }

                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6 marTB30"></div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
</div>
@section footer{
    @Scripts.Render("~/bundles/jqueryval");
}
