@using System.Globalization
@using Model
@model  IEnumerable<Model.OrderDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    double total = 0;
}

<div class="col-md-3">

    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-body box-profile">
            @if (ViewBag.Order.Users.Image != null)
            {
                <img class="profile-user-img img-responsive img-circle" src="@ViewBag.Order.Users.Image" alt="User profile picture">
            }
            else
            {
                <img class="profile-user-img img-responsive img-circle" src="../../../Asset/Backend/dist/img/user4-128x128.jpg" alt="User profile picture">
            }

            <h3 class="profile-username text-center">@ViewBag.Order.Users.UserName</h3>

            <p class="text-muted text-center">@ViewBag.Order.Users.Email</p>
            <form method="POST">
                <input name="Name" hidden="hidden" value="@ViewBag.Order.Name"/>
                <input name="Created" hidden="hidden" value="@ViewBag.Order.Created"/>
                <input name="Phone" hidden="hidden" value="@ViewBag.Order.Phone"/>
                <input name="Address" hidden="hidden" value="@ViewBag.Order.Address"/>
                <input name="Email" hidden="hidden" value="@ViewBag.Order.Email"/>
                <input name="UserId" hidden="hidden" value="@ViewBag.Order.UserId"/>
                <ul class="list-group list-group-unbordered">
                    <h2 style="text-align: center">Thông tin người nhận</h2>
                  
                    <li class="list-group-item">
                        <b>Người nhận</b> <a class="pull-right">@ViewBag.Order.Name</a>
                    </li>
                    <li class="list-group-item">
                        <b>Địa chỉ nhận hàng</b> <a class="pull-right">@ViewBag.Order.Address</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b> <a class="pull-right">@ViewBag.Order.Email</a>
                    </li>
                    <li class="list-group-item">
                        <b>Số điện thoại</b> <a class="pull-right">@ViewBag.Order.Phone</a>
                    </li>
                    <li class="list-group-item">
                        <b>Ngày đặt</b> <a class="pull-right">@ViewBag.Order.Created.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)</a>
                    </li>
                    @if (ViewBag.Order.Status == 0)
                    {
                        <li class="list-group-item">
                            <b>Trạng thái đơn hàng</b> <a class="pull-right"> <span class="label label-danger">Đang chờ</span> </a>
                        </li>
                        <li class="list-group-item">
                            <b>Xử lý đơn hàng</b> <button type="submit" name="Status" value="1" class="btn btn-warning pull-right">Xác nhận</button>
                        </li>
                    }
                    else if (ViewBag.Order.Status == 1)
                    {
                        <li class="list-group-item">
                            <b>Trạng thái đơn hàng</b> <a class="pull-right"> <span class="label label-warning">Xác nhận</span> </a>
                        </li>
                        <li class="list-group-item">
                            <b>Xử lý đơn hàng</b> <button type="submit" name="Status" value="2" class="btn btn-success pull-right">Đang giao</button>
                        </li>
                    }
                    else if (ViewBag.Order.Status == 2)
                    {
                        <li class="list-group-item">
                            <b>Trạng thái đơn hàng</b> <a class="pull-right"> <span class="label label-info">Đang giao</span> </a>
                        </li>
                        <li class="list-group-item">
                            <b>Xử lý đơn hàng</b> <button type="submit" name="Status" value="3" class="btn btn-primary pull-right">Đã giao</button>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            <b>Trạng thái đơn hàng</b> <a class="pull-right"> <span class="label label-success">Hoàn thành</span> </a>
                        </li>
                    }
                </ul>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
   
</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
            <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="activity">
                <h2 style="text-align:center">Chi tiết đơn hàng @ViewBag.Order.ID</h2>
                <div style="overflow-x:auto;" class="box-body">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Images)
                            </th>
                            <th>
                                Đơn giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Tổng tiền
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            total += item.Price * item.Quantity;
                            var currentTotal = item.Price * item.Quantity;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    <img style="width:150px" src="@Html.DisplayFor(modelItem => item.Product.Images)" alt="Alternate Text" />
                                </td>
                                <td>
                                    @String.Format("{0:n0}", item.Price) VND
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @String.Format("{0:n0}", currentTotal) VND
                                </td>
                            </tr>
                        }

                    </table>
                    </div>
                    <h4 style="text-align: right">Tổng tiền đơn hàng:@String.Format("{0:n0}", total) VND </h4>
                </div>

            </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>