@model List<Model.CartItem>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double? TotalMoney = 0;
}
@section footer{
    <script src="~/Asset/FrontEnd/js/CartJs.js"></script>
}
<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
@if (Model.Count > 0)
{
    <div class="cart-main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form id="form-cart" action="#">
                        <div class="table-content table-responsive">

                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Hình ảnh</th>
                                        <th class="product-name">Sản Phẩm</th>
                                        <th class="product-price">giá</th>
                                        <th class="product-quantity">Số Lượng</th>
                                        <th class="product-subtotal">Tổng Tiền</th>
                                        <th class="product-remove">Xóa</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var url = "/chi-tiet-san-pham/" + item.Product.Slug + "-" + item.Product.Id;
                                        var price = (item.Product.Price > item.Product.Sale_Price) ? item.Product.Sale_Price : item.Product.Price;
                                        <input hidden="" name="productId" value="@item.Product.Id" />
                                        var total = (price * item.Quantity);
                                        TotalMoney += total;
                                        <tr>
                                            <td class="product-thumbnail"><a href="@url"><img src="@item.Product.Images" alt="" /></a></td>
                                            <td class="product-name"><a href="@url">@item.Product.Name</a></td>
                                            <td class="product-price"><span class="amount">@String.Format("{0:n0}", price) VND</span></td>
                                            <td class="product-quantity"><input style="width: 150px" name="quantity" price="@price" productId="@item.Product.Id" class="quantity" min="1" data-id="@item.Product.Id" type="number" id="CartId" value="@item.Quantity" /></td>
                                            <td class="product-subtotal" id="total_@item.Product.Id">@String.Format("{0:n0}", total) VND</td>
                                            <td class="product-remove"><a data-id="@item.Product.Id" class="btn-delete" href="#"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    }


                                </tbody>

                            </table>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <a id="btnContinue" href="#">Tiếp Tục Mua Hàng</a>
                                    <a id="btnDelete" href="#">Xóa giỏ hàng</a>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">

                                    <table>
                                        <tbody>

                                            <tr class="order-total">
                                                <th>Tổng Tiền</th>
                                                <td>
                                                    <strong><span class="amount">@String.Format("{0:n0}", TotalMoney) VND</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        @Html.ActionLink("Thanh Toán", "Index", "Order")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="margin: 30px">
        <p style="text-align: center"><i style=" font-size: 300px;" class="fa fa-shopping-cart"></i></p>
        <p style="text-align: center">Bạn chưa có sản phẩm nào trong giỏ hàng.</p>
        <button onclick="location.href = '/';" class="btn btn-primary center-block">Tiếp tục mua sắm</button>
    </div>
}
@section productDetail{
    <script>
        $(document).ready(function() {
            window.carts = [];
            $(".quantity").change(function() {
                var productId = $(this).attr("productId");
                var price = $(this).attr("price");
                var quantity = $(this).val();
                var total = parseInt(price) * parseInt(quantity);
                $("#" + 'total_' + productId).text(total.toLocaleString() + "VND");
                console.log(total)
                var currentItem = carts.find(s => s.Id === productId);
                if (currentItem != null) {
                    currentItem.Quantity = quantity;

                } else {
                    carts.push({
                        Product: {
                            Id: productId
                        },
                        Quantity: quantity
                    });
                }
                $.ajax({
                    url: '/Cart/Update',
                    data: { cartModel: JSON.stringify(carts) },
                    dataType: 'json',
                    type: 'POST',
                    success: (res) => {

                    }
                })
            });
        });
    </script>
}